{% extends "library_template.html.twig" %}

{% block leftblock %}

    <h3>{{library.getName}}</h3>
    <h2>
        {{book.getTitle}}
    </h2>
    <h3>Authors:</h3>
    {% for author in book.getAuthors %}
    <p>{{ author.first_name }} {{ author.last_name }}</p>
    {% endfor %}
    <h3>Summary:</h3>
    <p>{{ book.getSummary }}</p>
    <h3>Category:</h3>
    <p>{{ book.getCategory }}</p>

    <a href="/libraries/{{ library.getId }}">Return to Library</a>


{% endblock %}

{% block middleform %}

{% endblock %}

{% block rightblock %}


{% endblock %}
