{% extends "library_template.html.twig" %}

{% block leftblock %}

    <h3>{{ library.getName }}</h3>

    <h2>Patrons</h2>
    {% if patrons is not empty %}
        {% for patron in patrons %}
            <h4><a href="/patrons/{{library.getId}}/{{ patron.getId }}">{{ patron.getFirstName }} {{ patron.getLastName }} </a></h4>
        {% endfor %}
    {% else %}
        <h4>There are no patrons for this library.</h4>
    {% endif %}

{% endblock %}

{% block middleform %}

    <form action="/add_patron" method="post">
        <div class="form-group">
            <input type="hidden" name="library_id" value="{{library.getId}}">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" placeholder="Jane">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" placeholder="Doe">

            <button type="submit" class="btn btn-info">Add Patron!</button>
        </div>
    </form>


    <form action="/add_book" method="post">
        <div class="form-group">
            <input type="hidden" name="library_id" value="{{library.getId}}">
            <label for="title">Title:</label>
            <input type="text" name="title" placeholder="Treasure Island">
            <label for="author_first_name">Author First Name:</label>
            <input type="text" name="author_first_name" placeholder="Robert">
            <label for="author_last_name">Author Last Name:</label>
            <input type="text" name="author_last_name" placeholder="Stevenson">
            <label for="summary">Summary:</label>
            <input type="text" name="summary" placeholder="A great book on pirates!">
            <label for="categories">Categories:</label>
            <select name="categories">
                <option value="mystery">Mystery</option>
                <option value="fantasy">Fantasy</option>
                <option value="sci-fi">Science Fiction</option>
                <option value="literature">Literature</option>
                <option value="biography">Biography</option>
                <option value="self-help">Self-Help</option>
                <option value="non-fiction">Non-Fiction</option>
            </select>

            <button type="submit" class="btn btn-info">Add Book!</button>
        </div>
    </form>



{% endblock %}

{% block rightblock %}

    <h3>Books in this library</h3>

    {% if books is not empty %}
        {% for book in books %}
            <h4><a href="/books/{{ book.getId }}">{{ book.getTitle }}</a></h4>
        {% endfor %}
    {% else %}
        <h4>There are no books in the library.</h4>
    {% endif %}

    <h3>books overdue</h3>

{% endblock %}
