{% extends "library_template.html.twig" %}

{% block leftblock %}

    <h3>{{library.getName}}</h3>
    <h2>
        {{patron.getFirstName}}
    </h2>

    <h3>list of books checked out</h3>

    {% for book in book_details %}
    <p>
        {{book.new_book.getTitle}} Checked Out: {{book.checkout_date}} Due: {{book.due_date}}
        <form action="/return-book/{{ book.new_book.getId }}" method="post" style="display: inline">
            <input type="hidden" name="patron_id" value="{{ patron.getId }}">
            <input type="hidden" name="library_id" value="{{ library.getId }}">
            <button type="submit" class="btn btn-success">Return Book</button>
        </form>
    </p>
    {% endfor %}

{% endblock %}

{% block middleform %}

{% endblock %}

{% block rightblock %}

    {% if all_books is not empty %}
    <ul>
        {% for book in all_books %}
        <li><a href="/book/{{ book.getId }}">{{ book.getTitle }}</a>
        <form action="/checkout-book/{{ book.getId }}" method="post" style="display: inline">
            <input type="hidden" name="patron_id" value="{{ patron.getId }}">
            <input type="hidden" name="library_id" value="{{ library.getId }}">
            <button type="submit" class="btn btn-info">Checkout!</button>
        </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
